openapi: 3.0.3
info:
  title: Sistema de Investimentos
  version: "1.0.0"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
